<launch>
    <!-- TurtleBot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="waffle_pi" />
    </include>
    <!-- Start Gmapping -->
    <include file="$(find comp3431_ass1)/launch/slam.launch">
        <arg name="model" value="waffle_pi"/>
        <arg name="configuration_basename" value="turtlebot3_lds_2d.lua"/>
    </include>

    <!-- Wall-follower -->
    <node pkg="comp3431_starter" type="comp3431_starter_wallfollow" name="comp3431_starter_wallfollow">
        <rosparam>
        </rosparam>
    </node>
    <!-- Start WallFollower-->

    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find comp3431_ass1)/rviz/rviz2.rviz"/>
</launch>